p,
h1,
a,
summary,
details,
ul,
footer {
  font-family: 'Century Gothic', sans-serif; 
  font-weight: bold;
  color: #cccccc;
}

html {
  background-color: #333333;
}

hr {
  background-color:#cccccc;
  border-width:0;
  height:1px;
  padding:0px;
}

a:hover {
  text-decoration: none
}

summary {
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  padding-left: 4px;
  border-width:2px;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 4px;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

ul {
  list-style-type: "- ";
  padding-left: 27px;
  margin-top: 8px;
}

details {
  cursor: pointer;
}

h1 {
  font-size: 20px;
}

details details {
  padding-left: 5px;
}

footer {
  border-color: #cccccc;
  border-style: solid;
  border-width: 0px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  padding: 5px;
  margin-top: 50px
}