@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rozha+One&display=swap');

/* 
  ORDER OF CSS PROPERTIES
  selector {
    width/height
    position/display
    top/bottom/left/right
    margin/padding
    colors
    font
    other...
  }
*/

html {
  font-family: Arial;
  font-weight: bold;
}

img, h1, h2, p, details {
  padding-top: 20px;
  text-align: center;
}

.big {
  @media (max-width: 800px) {
    width: 90vw;
    margin-left: 5vw;
  }
}

article {
  padding: 20px;

  @media (min-width: 1000px) {
    width: 1000px;
    margin-left: calc((100vw - 1000px) / 2);
  }
}

li {
  text-align: center;
  list-style-position: inside;
  list-style-type: "☞ ";
}

img, iframe {
  display: block;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Arial Black';
}

h1 {
  font-size: 40px;
}

p {
  line-height: 20px;
}

strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
}

summary:hover {
  cursor: pointer;
}

pink {
  color: #ff7f77;
}