html{
  font-family: 'Century Gothic'; 
  line-height: 1.3em;
  color: #333;
  letter-spacing: 0.02em;
  font-size: 1.3em;
}

a {
  color: #333;
  text-decoration-thickness: 1px;
}

a:hover {
  text-decoration: none
}

summary {
  margin-top: 0.2em
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

ul {
  list-style-type: "- ";
  padding-left: 27px;
  margin-top: 8px;
}

details {
  cursor: pointer;
  margin-left: 24px;
}

details a {
  margin-left: 24px
}

body {
  margin-left: 10px
}

nav,
footer {
  background-color: #e88e00ff; 
  padding: 10px;
  margin: -10px;
  margin-bottom: 1px;
  color:#fff
}

nav a,
footer a {
  color: #fff
}

details > summary {
  list-style-type: '▸ ';
}

details[open] > summary {
  list-style-type: '▾ ';
}