@import url("reset.css");

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit/outfit-variable.otf') format('opentype');
  src: url('/fonts/Outfit/outfit-variable.ttf') format('truetype');
}

/* 
  ORDER OF CSS PROPERTIES
  selector {
    width/height
    position/display
    top/bottom/left/right
    margin/padding
    colors
    font
    other...
  }
*/

html {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/52/Lake_Clearwater%2C_Canterbury%2C_New_Zealand_02.jpg);
  background-position: 50% 0;
  background-size: 2720px;
}

article::before {
  content: "";
  position: fixed;
  height: 100%;
  width: 800px;
  padding: 30px;
  top: 0;
  left: calc(50% - 430px);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
}

body {
  font: 250 16px/20px 'Outfit', Arial, sans-serif; /* Format: weight size/line-height family*/
}

article {
  width: 800px;
  margin: auto;
  padding: 30px;
}

header {
  width: 800px;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  padding: 10px calc(50% - 400px); /* Format: top and bottom, left and right */
  background-color: black;
  color: white;
  justify-content: space-between;
}

p {
  margin-bottom: 15px;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: "- ";
  margin-left: 15px;
}

.flag {
  height: 30px;
}

@media (max-width: 880px) {
  article, header {
    width: calc(100% - 60px);
  }

  header {
    padding: 10px 30px
  }
}

@media (min-width: 550px) {
  .mobile {
    display: none
  }
}

@media (max-width: 550px) {
  .desktop {
    display: none
  }

  img.i1 {
    width: 80%
  }
}