/***** FONT DECLARATION *****/
@font-face {
    font-family: 'Air Conditioner';
    src: url('fonts/AirConditioner/air-conditioner-regular.ttf');
}

@font-face {
    font-family: 'Barcode';
    src: url('fonts/Barcode39/ConnectCode39.otf') format('opentype'),
        url('fonts/Barcode39/ConnectCode39.woff') format('woff'),
        url('fonts/Barcode39/ConnectCode39.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Milker';
    src: url('fonts/Milker/milker-regular.ttf');
}

@font-face {
    font-family: 'Monofonto';
    src: url('fonts/Monofonto/monofonto-regular.ttf');
}

@font-face {
    font-family: 'Retro';
    src: url('fonts/Retro/retro-regular.ttf');
}

@font-face {
    font-family: 'Sandre';
    src: url('fonts/Sandre/sandre-regular.ttf');
}

/***** CSS RESET *****/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** SCROLLBAR CUSTOMISATION *****/
::-webkit-scrollbar {
    width: 10px;
    background: #ffffff00;
}

::-webkit-scrollbar-thumb {
    background-color: #222;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    z-index: 1;
}

/***** CLASS DEFINTION *****/
.breadcrumb {
    font-size: 16pt;
    width: 378px;
    vertical-align: top;
    margin-top: -5px; /* This could have issues on some devices due to having negative margins */
}

.barcode {
    font-family: 'Barcode', sans-serif;
    font-size: 41%;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    margin-left: auto;
}

.flag {
    height: 46px;
    align-items: flex-start;
    vertical-align: middle;
}

.spread {
    height: calc(100vh - 10px); /* I forgot why I added this but whenever I remove it the layout breaks */
    top: 300px;
    display: flex;
}

.main-text {
    width: 100%
}

.link-list {
    width: 350px;
}

.bottom-bar {
    /* This should be done with justify-content: space-between */
    display: flex;
    background-color: #222;
    color: white;
    width: 99vw;
    position: fixed;
    padding: 0.5vw;
    bottom: 0;
    left: 0;
}

.bottom-bar span {
    flex-grow: 1;
}

/* The copyright message in the bottom bar */
.copyright {
    text-align: center;
}

/***** MAIN DEFINITIONS *****/
html {
    font-family: Monofonto;
    font-size: 12pt;
    padding: 2pt;
    background-color: white;
    color: #222;
    overflow: hidden; /* This is bad practice but it should't cause enough issues for me to be bothered fixing my layout for the 3849273492348th time*/
}

body {
    margin-top: 0;
}

a:hover {
    text-decoration: none;
}

header {
    display: inline-block;
    position: relative;
    font-family: Milker;
    font-size: 60px;
    margin-top: -13px; /* This possibly has issues on some devices, but it shouldn't go further than the header being a bit more spaced out from the top than it should be */
}

header::after {
    position: absolute;
    display: flex;
    content: ""; /* The ::after doesn't display without any content */
    height: 50px;
    background-color: orange;
    width: 100%;
    z-index: -1;
    top: 16px;
}

nav {
    display: flex;
    position: fixed;
    width: calc(100% - 20px);
    font-family: 'Milker';
    font-size: 42pt;
    align-items: center;
    background-color: white;
    top: 0;
}

a {
    color: inherit;
}

article {
    margin-top: 50pt;
    margin-bottom: 30pt;
    margin-right: 10px;
    overflow-y: auto;
}

details > summary {
    list-style-type: '▸ ';
}
  
details[open] > summary {
    list-style-type: '▾ ';
}

details {
    cursor: pointer; /* Makes the cursor a pointer finger when hovering over the <details> element */
}

details > *:not(summary){
    margin-left: 1em;
}

/***** SCREEN SIZE RESPONSIVENESS *****/
@media (max-aspect-ratio: 4/5) /* If aspect ratio is smaller than 4:5 */ {
    .hide-mobile {
        display: none;
    }
}

@media  (orientation: portrait) /* If aspect ratio is smaller than 1:1 */ {
    .hide-portrait {
        display: none;
    }

    article {
        margin-bottom: 0
    }
}

@media (orientation: landscape) /* If aspect ratio is larger than 1:1 */ {
    .hide-landscape {
      display: none;
    }
}

@media (max-width: 900px) /* If viewport width is larger than 900px */ {
    .flag {
        display: none;
    }
}