/***** FONT DECLARATION *****/
@font-face {
    font-family: 'Air Conditioner';
    src: url('fonts/AirConditioner/air-conditioner-regular.ttf');
}

@font-face {
    font-family: 'Barcode';
    src: url('fonts/Barcode39/ConnectCode39.otf') format('opentype'),
        url('fonts/Barcode39/ConnectCode39.woff') format('woff'),
        url('fonts/Barcode39/ConnectCode39.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Milker';
    src: url('fonts/Milker/milker-regular.ttf');
}

@font-face {
    font-family: 'Monofonto';
    src: url('fonts/Monofonto/monofonto-regular.ttf');
}

@font-face {
    font-family: 'Retro';
    src: url('fonts/Retro/retro-regular.ttf');
}

@font-face {
    font-family: 'Sandre';
    src: url('fonts/Sandre/sandre-regular.ttf');
}

/***** SCROLLBAR CUSTOMISATION *****/
article::-webkit-scrollbar {
    width: 1.5vh;
    background: #ffffff00;
    position:absolute;
    left: 0;
}

article::-webkit-scrollbar-thumb {
    background-color: black;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    z-index: 1;
}

/***** CLASS DEFINTION *****/
.breadcrumb {
    font-size: 16pt;
    width: 378px;
    vertical-align: bottom;
}

.barcode {
    font-family: 'Barcode', sans-serif;
    font-size: 41%;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    margin-left: auto;
}

.flag {
    height: 46px;
    align-items: flex-start;
    vertical-align: middle;
}

/* The copyright message in the bottom bar */
.copyright {
    text-align: center;
}

/* This should be done with a justify-content as space-between but I don't know how to. Shame! */
.bottom-bar {
    display: flex;
    background-color: black;
    color: white;
    width: 99vw;
    position: fixed;
    padding: 0.5vw;
    bottom: 0;
    left: 0;
}

.bottom-bar span {
    flex-grow: 1;
}

/***** MAIN DEFINITIONS *****/
html {
    font-family: Monofonto;
    font-size: 12pt;
    padding: 2pt;
    background-color: white;
}

body {
    margin-top: 0;
}

header {
    display: inline-block;
    position:relative;
    font-family: Milker;
    font-size: 60px;
    margin-top: -15px;
    left: 3px;
    z-index: -1;
}

header.square {
    display: inline-block;
    position: absolute;
    background-color: orange;
    height: 50px;
    width: calc(100% + 6px);
    top: 31px;
    left: -3px;
}

nav {
    display: flex;
    position: fixed;
    width: 99%;
    font-family: 'Milker';
    font-size: 42pt;
    align-items: center;
    background-color: white;
    top: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

article {
    margin-top: 50pt;
    margin-bottom: 30pt;
    max-width: 70vw;
    max-height: 85vh;
    overflow-y: scroll;
}

/***** MEDIA QUERY *****/
@media (max-aspect-ratio: 4/5) /* If aspect ratio is smaller than 4:5 */ {
    .hide-mobile {
        display: none;
    }
}

@media  (orientation: portrait) /* If aspect ratio is smaller than 1:1 */ {
    .hide-portrait {
        display: none;
    }

    article {
        columns: 1;
    }
}

@media (orientation: landscape) /* If aspect ratio is larger than 1:1 */ {
    .hide-landscape {
      display: none;
    }

    article {
        margin-top: 50pt;
        margin-bottom: 30pt;
        columns: 2;
        overflow-y: auto;
    }
}