@font-face {
    font-family: 'Air Conditioner';
    src: url('fonts/AirConditioner/air-conditioner-regular.ttf');
}

@font-face {
    font-family: 'Barcode';
    src: url('fonts/Barcode39/ConnectCode39.otf') format('opentype'),
    url('fonts/Barcode39/ConnectCode39.woff') format('woff'),
    url('fonts/Barcode39/ConnectCode39.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Milker';
    src: url('fonts/Milker/milker-regular.ttf');
}

@font-face {
    font-family: 'Monofonto';
    src: url('fonts/Monofonto/monofonto-regular.ttf');
}

@font-face {
    font-family: 'Retro';
    src:url('fonts/Retro/retro-regular.ttf');
}

@font-face {
    font-family: 'Sandre';
    src: url('fonts/Sandre/sandre-regular.ttf');
}

#breadcrumb {
    display: inline-flex;
    font-size: 16pt;
    width: 378px;
    vertical-align: bottom;
}

.barcode {
    font-family: 'Barcode', sans-serif;
    font-size: 41%;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    margin-left: auto;
}

.flag {
    display: inline-flex;
    height: 53px;
    align-items: flex-start;
    vertical-align: middle;
}

.bottom-bar {
    background-color: black;
    color: white;
    display: inline-block;
    position: absolute;
    width: 100vw;
    position: fixed;
    padding: 0.5vw;
    bottom: 0;
    left: 0
}

html {
    font-family: 'Monofonto';
    font-size: 12pt;
    padding: 2pt
}

body {
    margin-top: 0;
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    font-family: 'Milker';
    font-size: 48pt;
    align-items: center;
    background-color: white;
    top: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

article {
    margin-top: 48px;
}